<section class="resume-section" id="blog">
    <div class="resume-section-content">
        <h2 class="mb-5">Blog</h2>
        
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">P-Seminar: Live Stream Production</h3>
                <div class="subheading mb-3">Media & Digitalization</div>
                <p>During my P-Seminar, I managed the technical setup for live streaming events. This included video editing, managing OBS transitions, and ensuring high-quality audio output for our viewers.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2023 - Present</span></div>
        </div>

        </div>
</section>