<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
    <div class="my-auto">
        <h2 class="mb-5">{{ i18n "projects" | default "Projects" }}</h2>
        
        {{ range $.Data.projects }}
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">{{ .title }}</h3>
                <div class="subheading mb-3">{{ .category }}</div>
                <p>{{ .description | markdownify }}</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">{{ .timeframe }}</span>
            </div>
        </div>
        {{ end }}
    </div>
</section>